%ul
  %li= link_to "Overview", "/get-d3"
  %li= link_to "Distributors", "/get-d3/distributors"
  %li= link_to "Rental Partners", "/get-d3/rental-partners"
  %li= link_to "d3 Studios Global", "/get-d3/d3-studios-global"
