%section#breadcrumb
  = render "pages/breadcrumb"
.container
  %section#sidebar
    =render :partial => "/chapters/tree"
  %section#content
    %article#user_guide
      =render :partial => "/chapters/summary", :locals => {:chapter_detail => nil}

%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"