%section#breadcrumb
  = render "pages/breadcrumb"
.container
  %section#sidebar
    = render "download_categories/sidebar"
  %section#content
    = render "download_categories/download_items", :download => @download
%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"