-if @news.present?
  %h2 News items
  %ul
    - for news_item in @news do
      %li
        %h3= news_item.headline
        %p= strip_tags(textilize(truncate(news_item.content, :length => D3::Application::RESULT_TEXT_LENGHT, :separator => ' ')))
        %p= link_to news_item_path(news_item,  :only_path => false), news_item_path(news_item,  :only_path => false)
