%section#breadcrumb
  = render "partner_categories/breadcrumb"
.container
  %section#content
    = render "partner_content", :partner => @partner
%section#prev_next_bar
  &nbsp;
-#  - if @partner.previous.present?
-#    .previous
-#      %p
-#        %span Previous
-#      %p= link_to @partner.previous.name, @partner.previous
-#  - if @partner.next.present?
-#    .next
-#      %p
-#        %span Next
-#      %p= link_to @partner.next.name, @partner.next
%section#related
  = render "layouts/related"