%ul
  %li= link_to "Jobs", "/company/jobs"
  %li= link_to "Enquiry Form", "/company/enquiry-form"
  %li= link_to "T&C", "/company/terms-and-conditions"
  %li= link_to "Privacy Policy", "/company/privacy-policy"


