%section#breadcrumb
  = render "breadcrumb"
.container
  %section#content.home
    - if @page.assets.present?
      #slider.one-col.home
        - for asset in @page.assets do
          .slider_item
            %img{:src => asset.asset.url(:xl), :width => "938px", :height => "586px", :alt => asset.description}
            .overlay_text
              = sanitize(textilize(asset.overlay_text))
    -#- if @page.introduction.present?
      -##home_overlay
      -##home_gradient
      -##home_content
      -#  = sanitize(textilize(@page.introduction))



