%section#breadcrumb
  = render "breadcrumb"
.container
  %section#content.home
    - if @page.assets.present?
      #slider.one-col.home
        - for asset in @page.assets do
          .slider_item
            %img{:src => asset.asset.url(:xl), :width => "938", :height => "586", :alt => asset.description}
            .overlay_text
              = sanitize(textilize(asset.overlay_text))
    .display-none
      %h1= @og_title
      %p.display-none= @og_description


