%section#breadcrumb
  = render "breadcrumb"
.container
  %section#content
    #social_bookmarks
      TODO: social bookmarks here
    = render :partial => "page_content_header"
    = render :partial => "parent_child_links"