%section#breadcrumb
  = render "feature_categories/breadcrumb"
.container
  %section#content.the_concept
    #social_bookmarks
      TODO: social bookmarks here
    = render :partial => "page_content_header"
    - for content_area in @page.content_areas do
      %section{:class => "alternating"}
        - if content_area.asset.present?
          %img{:src => content_area.asset.asset.url(:medium), :alt => content_area.asset.description, :class => "wrapped"}
        = sanitize(textilize(content_area.content))
        - if content_area.see_more_label.present? && content_area.see_more_url.present?
          %p.read_more
            =link_to content_area.see_more_label, content_area.see_more_url, :class => "read_more"