%section#breadcrumb
  = render "knowledge_base/breadcrumb"
.container
  %section#content.training
    = render :partial => "page_content_header"
    = render "alternating_content_areas", :image_size => :medium
    -#- for content_area in @page.content_areas do
    -#  %section{:class => "alternating"}
    -#    - if content_area.asset.present?
    -#      %img{:src => content_area.asset.asset.url(:medium), :alt => content_area.asset.description, :class => "wrapped"}
    -#    %h2= content_area.name
    -#    = sanitize(textilize(content_area.content))
    -#    - if content_area.see_more_label.present? && content_area.see_more_url.present?
    -#      %p.read_more
    -#        =link_to content_area.see_more_label, content_area.see_more_url, :class => "read_more"