- if @page.layout == "4u" || @page.layout == "2u"
  = render :partial => "d3_designer"
- else
  = render :partial => @page.layout rescue render :partial => "default_content"

%section#prev_next_bar
  &nbsp;
%section#related
  = render "layouts/related"