%section#breadcrumb
  = render "pages/breadcrumb"
.container
  %section#content
    %header
      %h1.underlined Latest News

    = render @news_items, :locals => {:title => false}

    %p.read_more= link_to "SHOW 20 MORE", ""

%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"