%section#breadcrumb
  = render "pages/breadcrumb"
.container
  %section#sidebar
    %ul
      %li Sidebar
  %section#content
    %h1= @news_item.headline

    %article
      -if @news_item.assets.present?
        %img{:src => news_item.assets.first.asset.url(:small), :alt => news_item.assets.first.description}
      .wrapper
        %p= @news_item.content

%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"