%section
  .left
    %h2= link_to download.name, download_path(download)
    - if download.summary.present?
      = sanitize(textilize(download.summary))
    - else
      = sanitize(textilize(download.content))
  = render "download_link", :download => download
