%ul.activated.two
  %li
    .category.active= link_to "All", download_categories_path, :id => "all"
  - for category in @download_categories do
    %li
      .category= link_to category.name, category, :id => category.slug