%section#breadcrumb
  = render "knowledge_base/breadcrumb"
.container
  %section#sidebar
    -#TODO routes make sense?
    =render :partial => "/chapters/tree"

  %section#content
    %article#user_guide
      =render :partial => "/chapters/summary", :locals => {:chapter_detail => @chapter}

%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"


