@import url(http://fonts.googleapis.com/css?family=Lato)

$blueprint-font-family: 'Lato', sans-serif
// TODO:does this work?
//=less-styled-link
//  :text-decoration none

body.bp
  +blueprint-typography(true)
  p, input
    +normal-text
    font-size: 14px

  color: $text-color
  //font-family: 'Lato', sans-serif
  a
    text-decoration: none
    +link-colors($link_color, $link_hover_color, $link_hover_color, $link_color, $link_color)

  h1, h2, h3, h4, h5, h6
    +header-text

  .all-caps
    text-transform: uppercase
  #news-ticker
    font-size: 16px
  #search-form
    font-size: 14px
  #topnav
    font-size: 15px
    line-height: 37px
    text-transform: uppercase
    span
      text-transform: none
    a
      +link-colors ($nav_link_color, $nav_link_hover_color, $nav_link_hover_color, $nav_link_color, $nav_link_color)
  #breadcrumb, #prev_next_bar
    font-size: 16px
    line-height: 37px
  #sidebar
    li
      font-size: 14px
      line-height: 30px
      text-transform: uppercase
      a
        +link-colors(#000000)
      li
        text-transform: none
        a
          +link-colors ($nav_link_color, $nav_link_hover_color, $nav_link_hover_color, $nav_link_color, $nav_link_color)
  #content
    h1
      font-weight: bold
    h2
    p.introduction
      font-size: 26px
      line-height: 30px
    p
      font-size: 16px
      line-height: 23px
  #related
    h4
      font-size: 18px
    p
      font-size: 14px
      line-height: 18px
      white-space: normal

  #footer
    h5
      font-size: 12px
      line-height: 22px
      text-transform: uppercase
      margin: 0
    #mailing-list-form, #impressum
      font-size: 14px