@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic)

$blueprint-font-family: 'Lato', sans-serif



body.bp
  +blueprint-typography(true)
  color: $text-color
  p, input, li, td, select, textarea
    +normal-text
    font-size: 14px
    font-weight: 400
    color: $text_color
  a
    text-decoration: none
    +link-colors($link_color, $link_hover_color, $link_hover_color, $link_color, $link_color)
  h1, h2, h3, h4, h5, h6
    +header-text
    font-weight: 400
  h2
    span.grey
      color: grey
  h3
    text-transform: uppercase
    font-size: 1.2em
  .all-caps
    text-transform: uppercase
  #flash_notice
    color: $link_color
    font-size: 16px
  #flash_alert
    color: red
    font-size: 16px
  #search-form
    input
      font-size: 12px
      color: #666666
  #topnav
    font-size: 15px
    line-height: 37px
    a
      +link-colors(white)
      font-weight: 400
  #breadcrumb,
    font-size: 16px
  #prev_next_bar
    font-size: 16px
    color: #333333
    a
      +single-text-shadow(#AAAAAA, 1px, 1px, 1px)
  #prev_next_bar
    line-height: 40px
  #sidebar
    li
      font-size: 14px
      line-height: 30px
      text-transform: uppercase
      .category a
        +link-colors(#000000)
      li
        text-transform: none
        line-height: 26px
        a
          +link-colors ($nav_link_color, $link_color, $link_color, $nav_link_color, $nav_link_color)
    li.level_one
      color: black
  #content
    .introduction
      font-size: 26px
      line-height: 30px
      font-weight: 300
      p
        font-size: inherit
        line-height: inherit
        font-weight: inherit
    p, li, td
      font-size: 16px
      line-height: 23px
    .project_credits, #case_study_sidebar
      li
        font-size: 14px
    .alternating, .company_wrapper, #company_left, .default_content
      h3
        +d3_h3
  #prev_next_bar
    text-transform: uppercase
    span
      font-size: 12px
    a
      +link-colors(black)
      font-weight: 400
      font-size: 16px

  #related
    h4
      font-size: 18px
      a
        +link-colors(black)
    p
      font-size: 14px
      line-height: 18px
      white-space: normal
  #footer
    ul
      li
        h5
          font-size: 12px
          line-height: 22px
          text-transform: uppercase
          margin: 0
          font-weight: 400
          a
            +link-colors(black)
        ul
          li
            font-size: 12px
    #mailing-list-form, #impressum
      font-size: 14px
    #impressum p.address
      font-size: 12px