@mixin d3-button-link
  a
    background-color: $link_color
    background: $link_color url('arrow_grey_right.png') no-repeat 92% center
    +link-colors(white)
    line-height: 16px
    padding: 0 20px 0 10px
    +border-radius(4px)
    text-transform: uppercase