@import "constants"

@mixin d3-button-link($font_size, $padding, $url)
  a
    background-color: $link_color
    background: $link_color url($url) no-repeat right center
    +link-colors(white)
    padding: $padding 20px $padding 10px
    +border-radius(4px)
    text-transform: uppercase
    font-size: $font-size
    font-weight: 400
    //+single-box-shadow
    +single-box-shadow(#999999, 1px, 1px, 1px, false, false)
    +single-text-shadow(#AAAAAA, 1px, 1px, 1px)


@mixin expander
  .section
    .title
      color: $blue
      .more
        margin-right: 15px
        float: left
        +d3-button-link(12px, 3px, 'arrow_white_long.png')
        border: 0px solid red
        a.driver
          border: 0px solid green
          width: 40px
          float: left
          text-align: center
    .body
      margin-left: 40px
      border: 0px solid green
      p, img
        border: 0px solid red
        margin-left: 0px
@mixin floating_box
  +float-right
  +border-radius
  background-color: $light_grey_bg
  width: 258px
  border: 1px solid $dark_grey_bg
  padding-bottom: 6px
  h3, p
    margin: 0 18px
    font-size: 14px
  p
    padding-bottom: 12px
    line-height: 20px
  h3
    margin-top: 10px
    line-height: 30px

