$default-border-radius: 10px

.dispaly-none
  display: none

.hidden
  display: none

body.bp
  background-color: $site_bg
  #header
    margin: 20px 0
    overflow: hidden
    #d3-logo
      +float-left
    #news-ticker
      width: 610px
      height: 41px
      +float-right
      p
        color: $link_hover_color
        +float-left
        margin-right: 6px
      ul
        +no-bullets
        padding-left: 0
        margin: 0
    #search-form
      +float-right
      +search_form
    #topnav
      +float-right
      ul
        +horizontal-list(false)
        border: 1px solid #858585
        +border-radius(6px)
        li
          background-color: $dark_grey_bg
          a
            padding: 9px 24px 9px 23px
            +background-image(linear-gradient(#8e8e8e, #858585))
            border-top-color: #9c9c9c
            border-left-color: #9c9c9c
            border-bottom-color: #858585
            border-right-color: #858585
            border-style: solid
            border-width: 1px
          a:active, a:hover, a.active
            +background-image(linear-gradient(#494949, #313131))
            border-color: #313131
        li:first-of-type
          +border-left-radius(4px)
        li:last-of-type
          +border-right-radius(4px)
          +last
  #message,
    display: none
    text-align: center
    color: red
  #flash_notice, #flash_alert
    text-align: center
    padding-bottom: 20px
  #main
    .container
      border-style: none
      border-width: 1px
      border-color: $dark_grey_bg
      border-left-style: solid
      border-right-style: solid
      overflow: hidden
      background-color: white
      #sidebar
        width: 220px
        +float-left
        ul
          list-style-type: none
          margin-top: 10px
          ul
            list-style-type: disc
            margin-top: 0
      #sidebar.nav
        ul
          margin-right: 0
          margin-top: 0
          padding-left: 0
          border-bottom: 1px solid $dark_grey_bg
          li
            .category
              border-top: 1px solid $dark_grey_bg
              padding-right: 12px
              padding-left: 18px
            .category.active
              +background-image(linear-gradient(#f8f8f8, #e5e5e5))
            ul
              border-bottom: none
              list-style-type: disc
              padding-right: 12px
              padding-left: 38px
              li
                font-weight: 200

      #content
        width: 717px
        +float-left
        border-width: 1px
        border-color: $dark_grey_bg
        border-left-style: solid
        padding-bottom: 40px
        h1, h2, h3, p
          margin-left: 40px
          margin-right: 40px
        h1
          margin-top: 40px
          clear: both
        h1.after-slideshow
          margin-top: 54px
        h1.underlined
          padding-bottom: 25px
          border-bottom: 1px solid $dark_grey_bg
        h2
          line-height: 28px
        p
          padding-bottom: 20px
        .introduction
          border-width: 1px
          border-color: $dark_grey_bg
          border-bottom-style: solid
          padding-bottom: 20px
          margin-left: 40px
          margin-right: 40px
          p
            margin: 0
            a.read_more
              +d3-button-link(14px, 6px, 'arrow_white_long.png')
        #social_bookmarks
          +float-right
          margin-top: 10px
        #vimeo_player
          display: none
          background-color: black
        section
          clear: both
          overflow: hidden
          margin-top: 36px
          img, .wrapper
            +float-left
          img
            margin-top: 4px
            +single-box-shadow(#999999, 6px, 4px, 8px, false, false)
          p
            padding-bottom: 0
            margin-bottom: 0
            border-bottom-style: none
          p.read_more
            margin-top: 5px
            a
              +d3-button-link(12px, 2px, 'arrow_white_long.png')
        section.alternating:nth-of-type(2n)
          img, .wrapper
            +float-right
        section.alternating
          ul
            margin-left: 40px
            margin-right: 40px
          img
            +single-box-shadow(white, 0, 0, 0, false, false)
    #prev_next_bar
      +background-image(linear-gradient($light_grey_bg, $dark_grey_bg))
      padding: 0 14px
      +border-bottom-radius
      overflow: hidden
      .previous, .next
        padding: 10px 0 12px 0
        p
          line-height: 18px
          margin-bottom: 0
          span, a
            padding: 0 20px
      .previous
        +float-left
        a
          background: transparent url('arrow_grey_left.png') no-repeat left center
      .next
        +float-right
        p
          text-align: right
        a
          background: transparent url('arrow_grey_right.png') no-repeat right center
    #related
      margin-top: 20px
      ul
        +horizontal-list(false)
        li
          margin-right: 20px
          width: 218px
          height: 200px
          background-color: $light_grey_bg
          position: relative
          +border-radius
          +background-image(linear-gradient(white, $light_grey_bg))
          border: 1px solid white
          img
            position: absolute
            bottom: 0
            +border-radius
            z-index: 1
          h4
            margin: 18px 20px 10px 20px
            z-index: 1000
            position: relative
          p
            margin: 0 20px
            z-index: 1000
            position: relative
        li:last-of-type
          margin-right: 0
  #footer
    border-top: 1px solid $dark_grey_bg
    margin-top: 20px
    padding-top: 20px
    ul
      +horizontal-list(false)
      li
        +column(1)
      li:last-of-type
        +last
    #mailing-list-form
      margin-top: 20px
      border: 1px solid $dark_grey_bg
      +border-radius
      background: white url('email.png') no-repeat 5px center
      input
        maring: 0
        padding: 0
        margin-left: 45px
        border-style: none
        width: 750px
        border-style: none
      button
        +border-right-radius(8px)
        border-style: none
        line-height: 28px
        background-color: $light_grey_bg
        +background-image(linear-gradient(#f8f8f8, #e5e5e5))
        margin: 0
        padding: 0 6px 0 10px
        width: 140px
    .container
      margin-top: 20px
      overflow: hidden
      #impressum
        +float-left
        p
          margin-bottom: 0
      #social-bookmarks
        +float-right


