body.bp
  background-color: $site_bg
  #header
    margin: 10px 0
    #d3-logo
      +float-left
      +column(1)
    #news-ticker
      +column(5)
      +float-left
      margin: 5px 0
    #search-form
      +column(2,true)
      +float-right
      margin: 5px 0
    #topnav
      +column(7, true)
      +float-left
      ul
        +horizontal-list(false)
        //+horizontal-list-container
        li
          //+horizontal-list-item
          background-color: $dark_grey_bg

  #main
    +reset-float
    #breadcrumb, #prev_next_bar
      +column(8, true)
      background-color: $light_grey_bg
      padding: 5px
    #related
      +column(8, true)
      margin-top: 10px
      ul
        +horizontal-list(false)
        li
          +column(2)
          height: 150px
          background-color: white
        li:last-of-type
          +column(2, true)
  #footer
    +column(8, true)
    margin-top: 10px
    ul
      +horizontal-list(false)
      li
        +column(1)
      li:last-of-type
        +column(1, true)
    #mailing-list-form
      +column(8, true)
      background-color: white
    #impressum
      +float-left
    #social-bookmarks
      +float-right
  .active
    font-weight: bold