body.bp.download_categories, body.bp.downloads
  #main
    .container
      #content

        h2
          margin-bottom: 6px
        .left
          +float-left
          width: 520px
        .right
          +float-left
          width: 160px
          p
            padding-bottom: 0
          p.read_more
            margin: 0
            line-height: 44px
            a
              +d3-button-link(14px, 6px, 'arrow_white_long.png')

          h6
            color: $text-color
            padding-left: 10px
        p.read_more.downloads
          text-transform: uppercase
          margin-top: 45px
          margin-bottom: 5px
          text-align: center
          border-bottom: none
          a
            +d3-button-link(18px, 5px, '')


        .more_news
          display: none
        .more_news_wrapper
          display: none
        #no_data_found
          margin-top: 45px
          display: none