body.bp.feature_categories
  #main
    #content
      h2, p, h3
        clear: both
        overflow: hidden
        width: 390px
      .alternating ul
        width: 372px
        margin-bottom: 5px
      p.introduction
        width: 636px