// Place all the styles related to the KnowledgeBase controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.bp
  #main
    .container
      #sidebar
      #content
        #user_guide
          //min-height: 700px
          //overflow: hidden
          border: 0px solid green
          #viewport
            border: 0px solid blue
            overflow: hidden
          .page
            border: 0px solid red
            overflow: hidden
          #chapter_summaries
            h1
              margin-top: 0px
              margin-bottom: 30px
              padding-bottom: 1px solid $dark_grey_bg
            div
              margin-bottom: 20px
              .chapter_summary
                margin-bottom: 30px
          #chapter_detail
            .section
              .title
                color: $blue
                .more
                  margin-right: 15px
                  +d3-button-link(12px, 1px, 'arrow_white_long.png')
                  border: 0px solid red
                  a
                    border: 0px solid green
            .body
              p, img
                margin-left: 124px



