// Place all the styles related to the KnowledgeBase controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.bp.chapters, body.bp.knowledge_base
  #main
    .container
      #content
        #user_guide
          border: 0px solid red
          overflow: hidden
          h3
            +d3_h3
            clear: both
          li
            margin-left: 40px
          .section
            margin-top: 15px
            img
              margin-left: 40px
            h2
              padding-top: 20px
            h3
              padding-top: 10px
            p
              //+reset-float
              padding-bottom: 0
              margin-bottom: 10px
              //color: red
              clear: both
              img
                margin: 0
                +single-box-shadow(white, 0, 0, 0, false, false)