body.bp.pages
  #main
    .container
      #content
        width: 938px
        border-left-style: none
        section.default_content
          ul
            margin-left: 40px
        p.read_more
          margin-top: 5px
          line-height: 40px
        a.read_more
          +d3-button-link(14px, 6px, 'arrow_white_long.png')
        .wrapper.static_page
          margin-left: 40px
          p, h2
            margin-left: 0px
      #content.what_is_d3
        +alternator(0px, 495px)