body.bp.pages
  #main
    .container.home
      +border-radius($radius)
      #content.home
        height: 586px
        padding-bottom: 0
        #slider
          position: relative
          .overlay_text
            z-index: 1000
            position: relative
            width: 547px
            top: -570px
            left: 24px
            background: transparent url('bg_home_slide.png') repeat top left
            +border-radius($radius)
            overflow: hidden
            h1, p
              margin-left: 26px
              margin-right: 24px
            h1
              color: white
              text-transform: uppercase
              font-size: 36px
              line-height: 1.2em
              margin-right: 0
              margin-bottom: 14px
              padding-top: 14px
            p
              color: #999999
              margin-bottom: 14px
              font-size: 20px
              a.read_more
                +d3-button-link(16px, 6px, 'arrow_white_long.png')
                box-shadow: none

            p:last-child
              margin-bottom: 6px
