body.bp.projects, body.bp.project_categories
  #main
    .container
      #content
        width: 938px
        #prevBtn, #nextBtn
          top: 450px
        #prevBtn
          left: 22px
        #nextBtn
          left: 850px
        #slider
          width: 938px
          height: 587px
        section
          p, h2
            width: 495px
        section.project_cat
          p, h2
            width: 605px
        section#credits, section#equipment
          +span(4)
          clear: none
          .wrapper, h2
            width: 380px
            margin-left: 40px
            margin-right: 40px
        #listed_projects
          +horizontal-list
          li
            margin-left: 40px
            margin-bottom: 40px
            h3
              background-color: $blue
              color: white
              font-size: 12px
              text-transform: uppercase
              position: relative
              top: -159px
              z-index: 1000
              padding: 0 6px
              line-height: 2.5em
              width: auto
        section#credits
          +float-left
        section#equipment
          +float-right
