%form.search{:action => "/search", :name => "searchform"}
  %input{:name => "query", :type => "text", :value => "Search", :title => "Search"}
  = hidden_field_tag(:cat, request.fullpath.split(/[^0-9a-z-]/)[1])
  %button.button{:type => "submit"}
    =image_tag("arrow_grey_right.png")